[Unit]
Description=Prometheus server for nerdbox monitoring
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStart=/usr/local/bin/nerdbox-docker-prometheus-start
ExecStop=/usr/bin/docker stop -t 2 nerdbox-prometheus
ExecStopPost=/usr/bin/docker rm -f nerdbox-prometheus

[Install]
WantedBy=default.target